@font-face {
    font-family: 'SpaceInvade';
    src: url('assets/Fonts/pixel.ttf');
}

html {
    background-color: #2c3e50;
    font-family: SpaceInvade;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: solid 3px #f4f4f4;
}